.allButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: rgba(128, 128, 128, 0.774);
    padding-bottom: 80px;
    min-width: 990px;
}

button {
    font-size: 30px;
    width: 90px;
    text-align: center;
}

.D button {
    background-color: #ff0000;
    padding-top: 50px;
    padding-bottom: 375px;
}

.E button {
    background-color: #ff8000;
    padding-top: 50px;
    padding-bottom: 350px;
}

.F button {
    background-color: #ffff00;
    padding-top: 50px;
    padding-bottom: 325px;
}

.G button {
    background-color: #80ff00;
    padding-top: 50px;
    padding-bottom: 300px;
}

.A button {
    background-color: #00ff00;
    padding-top: 50px;
    padding-bottom: 275px;
}

.Asharp button {
    background-color: #00ff80;
    padding-top: 50px;
    padding-bottom: 250px;
}

.B button {
    background-color: #00ffff;
    padding-top: 50px;
    padding-bottom: 225px;
}

.C button {
    background-color: #0080ff;
    padding-top: 50px;
    padding-bottom: 200px;
}

.highD button {
    background-color: #0000ff;
    padding-top: 50px;
    padding-bottom: 175px;
}


.highE button {
    background-color: #8000ff;
    padding-top: 50px;
    padding-bottom: 150px;
}

.highF button {
    background-color: #ff00ff;
    padding-top: 50px;
    padding-bottom: 115px;
}

